<!-- <ion-header style="height: 55px;">
  <ion-toolbar>
    <ion-title>{{ 'languages' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>
<ion-router-outlet id="mainMenuRouter"></ion-router-outlet> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="11"></ion-col>
      <ion-col size="1">222</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-radio-group value='{{ languageVal }}' (ionChange)="onItemChange()" [(ngModel)]="languageVal">
      <ion-list-header>
        <ion-label>
          {{ 'languages' | translate }}
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>polski</ion-label>
        <ion-radio value="pl"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Deutsch</ion-label>
        <ion-radio value="de"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
