.cupertino-pane {
  margin: 0 20px;
}


.blueColor{
  fill:rgb(46,87,138);
}
.blueColor4687138{
  fill:rgb(46,87,138);
}
.blueColor052112{
  fill:rgb(0,52,112);
}
.blueColor2369125{
  fill:rgb(23,69,125);;
}
.redColor{
  fill:red;
}
